*{box-sizing: border-box; padding:0; margin: 0;}

body{
    font-family: 'Poppins', sans-serif;
}


.nav h4{
    text-align: center;
    text-decoration: solid;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px; 
    
    
}
.nav{
    margin-top: 20px;
}
.main-heading {
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.main-heading H1{
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}
.icon{
    padding-top: 10px;
    color: #222;
}
.carousel-indicators{
    color: black;
}
.box .heading {
    font-size: 18px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.box .image{
    border-radius: 7px;
    margin-bottom: 30px;
    

}

.box .box-owner .owner-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    margin-right: 10px;
}
.box .box-owner .owner-img img {
    max-width: 100%;
    border-radius: 50%;
    vertical-align: middle;

}
.box .box-owner .text{
    text-decoration: none;
}
.box .box-owner .strong{
    color: #000;
    font-weight: 700;
    display: block;
    line-height: 1;
    font-size: 14px;
}

.box .box-owner .span{
    font-size: 13px;
    color: #888;

}
h2{
    font-size: 17px;
}
p{
    color: grey;
    margin-top: 0;
    display: block;
    font-size: 15px;
}

.box .author{
    text-decoration: none;
    font-size: 12px;
    color: black;
}
.box .heading{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.box .box-heading .category {
    color: #222;
    font-weight: 600;
    text-decoration: none;
    
    font-family: 'Poppins', sans-serif;
}
    
.author .strong{
    color: #000;
    font-weight: 700;
    display: block;
    line-height: 1;
    font-size: 14px;

} 
.author .span{
    font-size: 13px;
    color: #888;

}


.box .date{
    color: #999;
    font-size: 14px;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5 {
    font-family: "Poppins", sans-serif;
    color: #000;
}
.footer{
    margin-bottom: 100px;
}
